// @import "/projects/farama-share/src/lib/styles/_variable.scss";
@import "variable";
*{
  margin: 0px;
  padding: 0px;
}

body{
  padding: 0;
  margin: 0 ;
  border: 0;
  min-height: 100vh;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-template-rows: 50px auto 50px;
  // gap: 10px;
  background-color: $mainContentColor;
  height: 92vh;
}

.header {
  grid-area: header;
  background-color: $secondaryColor;
}
.side-bar {
  grid-area: menu;
  background: $primaryColor;
}
.main { grid-area: main; }
.footer { grid-area: footer; }
