@import "variable";
*{
  margin: 0px;
  padding: 0px;
}

:root{
  margin: 0;
}


.container{
  height: 100vh;
  display: grid;
  width: 100vw;
  grid-template-areas: "header header"
                       "nav main"
                       "nav footer";
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 200px 1fr;
}

header{
  grid-area: header;
  background-color: $secondaryColor;
}

nav{
  grid-area: nav;
  background-color: $primaryColor;
}

main{
  grid-area: main;
  background-color: $mainContentColor;
}

footer{
  grid-area: footer;
  background-color: $secondaryColor;
}
